<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/reponsive.css">  
    <link rel="stylesheet" href="../static/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">  
    <script src="jquery-3.6.0.min.js"></script>
    <title>Trang chủ</title>
    
</head>
<body>
    <section>
        <div class="header">
            <div id="top1">
                <a href="index.html"><img src="" style="width: 90%; height: 250%;"></a>               
            </div>
            <div class="seachbox">
                <input type="text" placeholder="Tìm Kiếm Sản Phẩm ">
                <div class="seach-btn">
                    <a href="#"><i class="fa fa-search fa-2x" aria-hidden="true" style="color: white;"></i></a>
                </div>
            </div>
            <div id="phone">
                <img src="image/phone.svg" alt="">
                <p>Gọi đặt hàng:</p>
                <h2>0372082758</h2>
            </div>
        </div>
    </section>
    <section id="menu">
        <ul>
            <li><a href="index.html"><b>Trang Chủ</b></a></li>
            <li><a href=""><b>Danh mục sản phẩm</b></a>
                <ul class="submenu">
                    <li><a href="#"><b>Hãng Sản Xuất</b></a>
                        <ul class="submenu1">
                            <li><a href="brand_samsung.html"><b>Samsung</b></a></li>
                                <li><a href="brand_apple.html"><b>Apple</b></a></li>
                                <li><a href="#"><b>Sony</b></a></li>
                                <li><a href="#"><b>Xiaomi</b></a></li>
                                <li><a href="#"><b>Oppo</b></a></li>
                                <li><a href="#"><b>Huawei</b></a></li>
                                <li><a href="#"><b>Vinsmart</b></a></li>
                                <li><a href="#"><b>Nokia</b></a></li>
                                <li><a href="#"><b>Vivo</b></a></li>
                                <li><a href="#"><b>Bphone</b></a></li>
                                <li><a href="#"><b>Oneplus</b></a></li>
                        </ul>
                    </li>
                   
                </ul>
            </li>
            
            
            
            <li><a href="gio_hang.html"><b>Giỏ Hàng</b></a></li>
            <li><a href=""><b>Đơn hàng</b></a></li>
            <li><a href="login.html"><b>Đăng Nhập</b></a></li>
            <li style="display: none;">
                <b>
                <img src="https://i.pinimg.com/70x/83/74/f9/8374f9316fd820b884395c6386d61fed.jpg" style="border-radius: 50%; width: 40px; height: 40px; vertical-align: middle;"/>
                </b>
                <a href="index.html">
                    <b>Tien Tai</b>
                </a>
            </li>
            <li style="display: none;">
                <a href="index.html">
                    <b>Đăng xuất</b>
                </a>
            </li>
        </ul>
    </section>
    <section>
        <div class="via">
            <div class="mySlides">
              <img src="image/banner-iphone-12-mini-1200-140.gif" style="width:100%">
            </div>
            
            <div class="mySlides">
              <img src="image/Bannerxiaomi.png" style="width:100%">
            </div>
            
            <div class="mySlides">
              <img src="image/donghothongminh.gif" style="width:100%">
            </div>
        </div>
        <script src="js/jsslide_via.js"></script>
    </section>
    <section id="hang-hot">
        <div class="tieu-de">
            <p>SẢN PHẨM BÁN CHẠY</p>           
        </div>
        <hr size="5px" width="82%" color="coral" style="margin-bottom: 20px; margin-left: 9%;">
        <div class="sp-hot">
            <div class="hot-brand">
                <div class="bao">
                    <a href="ss_zfold2.html"><img src="image/realme-7i-xanh-duong_1.jpg" alt="">
                    <div class="box-name">Realme 7i</div>
                    <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                        <span>5.190.000 ₫</span>
                        <span style="text-decoration:line-through ; color: gray; font-size: 12px;">6.290.000 ₫</span>
                    </div></a>
                    <div class="danh-gia">
                        <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                        <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                        <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                        <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                        <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                        <span style="font-size: 12px;">5 đánh giá</span>
                    </div>                                                      
                </div>                              
            </div>
            <div class="hot-brand">
                <div class="bao">
                    <a href="ss_zfold2.html"><img src="image/samsung-galaxy-a12_2_.jpg" alt="">
                    <div class="box-name">Samsung Galaxy A12</div>
                    <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                        <span>3.600.000 ₫</span>
                        <span style="text-decoration:line-through ; color: gray; font-size: 12px;">4.290.000 ₫</span>
                    </div></a>
                    <div class="danh-gia">
                        <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                        <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                        <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                        <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                        <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                        <span style="font-size: 12px;">11 đánh giá</span>
                    </div>
                </div>                              
            </div>
            <div class="hot-brand">
                <div class="bao">
                    <a href="ss_zfold2.html"><img src="image/samsung-galaxy-a32-20.jpg" alt="">
                    <div class="box-name">Samsung Galaxy A32</div>
                    <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                        <span>5.900.000 ₫</span>
                        <span style="text-decoration:line-through ; color: gray; font-size: 12px;">6.690.000 ₫</span>
                    </div></a>
                    <div class="danh-gia">
                        <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                        <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                        <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                        <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                        <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                        <span style="font-size: 12px;">8 đánh giá</span>
                    </div>
                </div>                              
            </div>
            <div class="hot-brand">
                <div class="bao">
                    <a href="iphone12_view.html">
                        <img src="image/iphone-12_2__3.jpg" alt="">
                        <div class="box-name">Iphone 12 | Chính hãng VN/A</div>
                        <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                            <span>19.800.000 ₫</span>
                            <span style="text-decoration:line-through ; color: gray; font-size: 12px;">22.990.000 ₫</span>
                        </div>
                        <div class="danh-gia">
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <span style="font-size: 12px;">4 đánh giá</span>
                        </div>
                    </a>
                
                </div>                          
            </div>
            <div class="hot-brand">
                <div class="bao">
                    <a href="mi11_view.html"><img src="image/xiaomi-redmi-note-10-pro_2_.png" alt="">
                    <div class="box-name">Xiaomi Redmi Note 10 Pro</div>
                    <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                        <span>6.450.000 ₫</span>
                        <span style="text-decoration:line-through ; color: gray; font-size: 12px;">6.990.000 ₫</span>
                    </div></a>
                    <div class="danh-gia">
                        <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                        <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                        <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                        <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                        <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                        <span style="font-size: 12px;">10 đánh giá</span>
                    </div>
                </div>
                         
            </div>
        </div>
    </section>
    <section id="san-pham-chinh">
        <div class="tieu-de">
            <p>ĐIỆN THOẠI NỔI BẬT</p>           
        </div>
        <hr size="5px" width="82%" color="coral" style="margin-bottom: 20px; margin-left: 9%;">
        <div class="row">
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="iphone12_view.html">
                            <img src="image/apple-iphone-12-mini-2.png" style="width:70%">
                            <div class="box-name">Iphone 12 | Chính hãng VN/A</div>
                            <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                                <span>19.800.000 ₫</span>
                                <span style="text-decoration:line-through ; color: gray; font-size: 13px;">22.990.000 ₫</span>
                            </div>
                            <div class="danh-gia">
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <span style="font-size: 12px;">10 đánh giá</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="iphone12_pro_max_view.html">
                            <img src="image/iphone-12-pro-max-2.png" style="width:70%">
                        <div class="box-name">Iphone 12 Pro Max 128GB | Chính hãng VN/A</div>
                        <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                            <span>25.980.000 ₫</span>
                            <span style="text-decoration:line-through ; color: gray; font-size: 13px;">30.990.000 ₫</span>
                        </div>
                        <div class="danh-gia">
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <span style="font-size: 12px;">10 đánh giá</span>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="ss_s21_ultra.html">
                        <img src="image/Samsung Galaxy S21 Ultra.png" style="width:70%">
                        <div class="box-name">Samsung Galaxy S21 Ultra 128GB 5G - Chính hãng</div>
                        <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                            <span>25.200.000 ₫</span>
                            <span style="text-decoration:line-through ; color: gray; font-size: 13px;">26.300.000 ₫</span>
                        </div>
                        <div class="danh-gia">
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <span style="font-size: 12px;">10 đánh giá</span>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="ss_zfold2.html">
                            <img src="image/samsung-galaxy-z-fold-2.jpg" style="width:70%">
                            <div class="box-name">Samsung Galaxy Z Fold2 5G</div>
                            <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                                <span>46.500.000 ₫</span>
                                <span style="text-decoration:line-through ; color: gray; font-size: 13px;">49.990.000 ₫</span>
                            </div>
                            <div class="danh-gia">
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <span style="font-size: 12px;">10 đánh giá</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="mi11_view.html">
                        <img src="image/mi 11 black.png" style="width:70%">
                        <div class="box-name">Xiaomi Mi 11 5G</div>
                        <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                            <span>18.490.000 ₫</span>
                            <span style="text-decoration:line-through ; color: gray; font-size: 13px;">21.990.000 ₫</span>
                        </div>
                        <div class="danh-gia">
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <span style="font-size: 12px;">10 đánh giá</span>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="iphone12_view.html"><img src="image/iphone 11 (10).png" style="width:70%">
                        <div class="box-name">Iphone 11 | Chính hãng VN/A</div>
                        <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                            <span>15.800.000 ₫</span>
                            <span style="text-decoration:line-through ; color: gray; font-size: 13px;">18.000.000 ₫</span>
                        </div>
                        <div class="danh-gia">
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <span style="font-size: 12px;">10 đánh giá</span>
                        </div></a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="ss_s21_ultra.html">
                        <img src="image/samsung-galaxy-20-fe_4_.jpg" alt="">
                        <div class="box-name">Samsung Galaxy S20 FE 256GB (Fan Edition)</div>
                        <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                            <span>11.090.000 ₫</span>
                            <span style="text-decoration:line-through ; color: gray; font-size: 13px;">15.490.000 ₫</span>
                        </div>
                        <div class="danh-gia">
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <span style="font-size: 12px;">10 đánh giá</span>
                        </div></a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh"><a href="ss_s21_ultra.html">
                        <img src="image/yellow_note_20.jpg" alt="">
                        <div class="box-name">Samsung Galaxy Note 20 Ultra 5G</div>
                        <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                            <span>20.490.000 ₫</span>
                            <span style="text-decoration:line-through ; color: gray; font-size: 13px;">32.990.000 ₫</span>
                        </div>
                        <div class="danh-gia">
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <span style="font-size: 12px;">10 đánh giá</span>
                        </div></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <img src="image/oppo-reno-5_3_.jpg" style="width:70%">
                        <div class="box-name">Oppo Reno5</div>
                        <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                            <span>8.240.000 ₫</span>
                            <span style="text-decoration:line-through ; color: gray; font-size: 13px;">8.690.000 ₫</span>
                        </div>
                        <div class="danh-gia">
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <span style="font-size: 12px;">10 đánh giá</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <img src="image/oneplus-9_1.jpg" style="width:70%">
                        <div class="box-name">OnePlus 9 Pro</div>
                        <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                            <span>16.900.000 ₫</span>
                            <!-- <span style="text-decoration:line-through ; color: gray; font-size: 13px;">22.990.000 ₫</span> -->
                        </div>
                        <div class="danh-gia">
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <span style="font-size: 12px;">10 đánh giá</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <img src="image/vsmart-star-5-1_3.jpg" style="width:70%">
                        <div class="box-name">Vsmart Star 5</div>
                        <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                            <span>2.390.000 ₫</span>
                            <span style="text-decoration:line-through ; color: gray; font-size: 13px;">2.690.000 ₫</span>
                        </div>
                        <div class="danh-gia">
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <span style="font-size: 12px;">10 đánh giá</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <img src="image/xperia-xz-blue-.png" style="width:70%">
                        <div class="box-name">Sony Xperia XZ chính hãng</div>
                        <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                            <span>10,990,000 VNĐ</span>
                            <!-- <span style="text-decoration:line-through ; color: gray; font-size: 13px;">22.990.000 ₫</span> -->
                        </div>
                        <div class="danh-gia">
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <span style="font-size: 12px;">10 đánh giá</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </section>
    <section id="phu-kien">
        <div class="tieu-de">
            <p>PHỤ KIỆN ĐIỆN THOẠI</p>           
        </div>
        <hr size="5px" width="82%" color="coral" style="margin-bottom: 20px; margin-left: 9%;">
        <div class="row">
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="#">
                            <img src="image/phu_kien_dien_thoai//airtag/air-tag-1.png" style="width:70%">
                            <div class="box-name">Apple AirTag - Chính hãng Apple Việt Nam</div>
                            <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                                <span>690,000 ₫</span>
                                <!-- <span style="text-decoration:line-through ; color: gray; font-size: 13px;">22.990.000 ₫</span> -->
                            </div>
                            <div class="danh-gia">
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <span style="font-size: 12px;">10 đánh giá</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="#">
                            <img src="image/phu_kien_dien_thoai/cu-sac-anker.png" style="width:80%">
                        <div class="box-name">Sạc nhanh Anker Powerport III Nano 20W A2633</div>
                        <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                            <span>360.000 ₫</span>
                            <span style="text-decoration:line-through ; color: gray; font-size: 13px;">400.000 ₫</span>
                        </div>
                        <div class="danh-gia">
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <span style="font-size: 12px;">10 đánh giá</span>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="#">
                        <img src="image/phu_kien_dien_thoai/Anker PowerPort 2 cong Elite 2 24W.jpg" style="width:70%">
                        <div class="box-name">Sạc Anker PowerPort 2 Cổng Elite 2 24W A2023</div>
                        <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                            <span>360.000 ₫</span>
                            <span style="text-decoration:line-through ; color: gray; font-size: 13px;">450.000 ₫</span>
                        </div>
                        <div class="danh-gia">
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <span style="font-size: 12px;">10 đánh giá</span>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="#">
                            <img src="image/phu_kien_dien_thoai/cap-energizer-lightning.jpg" style="width:70%">
                            <div class="box-name">Cáp Energizer bảo hành trọn đời Lightning 1.2M C41UBLIGWH4</div>
                            <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                                <span>350.000 ₫</span>
                                <span style="text-decoration:line-through ; color: gray; font-size: 13px;">450.000 ₫</span>
                            </div>
                            <div class="danh-gia">
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <span style="font-size: 12px;">10 đánh giá</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="#">
                            <img src="image/phu_kien_dien_thoai/airpods-2.jpg" style="width:70%">
                            <div class="box-name">Tai nghe Bluetooth Apple AirPods 2 VN/A</div>
                            <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                                <span>3.290.000 ₫</span>
                                <span style="text-decoration:line-through ; color: gray; font-size: 13px;">3.990.000 ₫</span>
                            </div>
                            <div class="danh-gia">
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <span style="font-size: 12px;">10 đánh giá</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="#">
                            <img src="image/phu_kien_dien_thoai/apple-airpods-max-2_1_1.jpg" style="width:70%">
                        <div class="box-name">Tai nghe chụp tai chống ồn Apple AirPods Max chính hãng</div>
                        <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                            <span>12.490.000 ₫</span>
                            <span style="text-decoration:line-through ; color: gray; font-size: 13px;">13.900.000 ₫</span>
                        </div>
                        <div class="danh-gia">
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <span style="font-size: 12px;">10 đánh giá</span>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="#">
                        <img src="image/phu_kien_dien_thoai/onyxstudio5_colors.jpg" style="width:70%">
                        <div class="box-name">Loa Bluetooth Harman Kardon Onyx Studio 5</div>
                        <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                            <span>3.290.000 ₫</span>
                            <span style="text-decoration:line-through ; color: gray; font-size: 13px;">6.500.000 ₫</span>
                        </div>
                        <div class="danh-gia">
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <span style="font-size: 12px;">10 đánh giá</span>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="#">
                            <img src="image/phu_kien_dien_thoai/harman-kardon-aura-studio-3.jpg" style="width:70%">
                            <div class="box-name">Loa Bluetooth Harman Kardon Aura Studio 3</div>
                            <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                                <span>5.900.000 ₫</span>
                                <span style="text-decoration:line-through ; color: gray; font-size: 13px;">6.900.000 ₫</span>
                            </div>
                            <div class="danh-gia">
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <span style="font-size: 12px;">10 đánh giá</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="do-choi-cong-nghe">
        <div class="tieu-de">
            <p>ĐỒ CHƠI CÔNG NGHỆ</p>           
        </div>
        <hr size="5px" width="82%" color="coral" style="margin-bottom: 20px; margin-left: 9%;">
        <div class="row">
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="#">
                            <img src="image/phu_kien_dien_thoai/tay-cam-chong-rung.png" style="width: 50%;">
                            <div class="box-name">Tay cầm chống rung Zhiyun Smooth Q3 - Chính hãng</div>
                            <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                                <span>2,090,000 ₫</span>
                            </div>
                            <div class="danh-gia">
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <span style="font-size: 12px;">10 đánh giá</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="#">
                            <img src="image/phu_kien_dien_thoai/ps5_01.jpeg" style="width: 50%;">
                        <div class="box-name">Máy chơi game Sony PlayStation 5 (PS5) - Chính hãng</div>
                        <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                            <span>14.490.000 ₫</span>
                        </div>
                        <div class="danh-gia">
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <span style="font-size: 12px;">10 đánh giá</span>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="#">
                        <img src="image/phu_kien_dien_thoai/gopro-hero-9-2.png" style="width: 50%;">
                        <div class="box-name">Camera hành trình Gopro Hero 9</div>
                        <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                            <span>10.590.000 ₫</span>
                            <span style="text-decoration:line-through ; color: gray; font-size: 13px;">11.990.000 ₫</span>
                        </div>
                        <div class="danh-gia">
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <span style="font-size: 12px;">10 đánh giá</span>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="#">
                            <img src="image/phu_kien_dien_thoai/hero-9-pin.png" style="width: 50%;">
                            <div class="box-name">Pin Gopro Rechargeable Battery Gopro Hero 9 - Chính hãng</div>
                            <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                                <span>490,000 ₫</span>
                            </div>
                            <div class="danh-gia">
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <span style="font-size: 12px;">10 đánh giá</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="#">
                        <img src="image/phu_kien_dien_thoai/_tay-cam-choi-game-micro-soft-xbox-controller-1.jpeg" style="width: 50%;">
                        <div class="box-name">Tay cầm chơi Game Microsoft XBOX Wireless Controller chính hãng</div>
                        <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                            <span>1.690.000 ₫</span>
                         
                            <span style="text-decoration:line-through ; color: gray; font-size: 13px;">1.890.000 ₫</span>
                        </div>
                        <div class="danh-gia">
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                            <span style="font-size: 12px;">10 đánh giá</span>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="#">
                            <img src="image/phu_kien_dien_thoai/nubia-red-magic-6-cooler-1.jpeg" style="width: 50%;">
                            <div class="box-name">Tản nhiệt Nubia Red Magic 6 Cooler</div>
                            <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                                <span>1.090.000 ₫</span>
                               
                            </div>
                            <div class="danh-gia">
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <span style="font-size: 12px;">10 đánh giá</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="#">
                            <img src="image/smartwatch/Apple Watch SE (4G) 44mm-9,1tr.png" style="width: 40%;">
                            <div class="box-name">Apple Watch SE (4G)</div>
                            <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                                <span>9.090.000 ₫</span>
                           
                            </div>
                            <div class="danh-gia">
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <span style="font-size: 12px;">10 đánh giá</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-s-6 box">
                <div class="contentsp">
                    <div class="bao-sp-chinh">
                        <a href="#">
                            <img src="image/smartwatch/Apple Watch Series 3 GPS 38mm -4tr.png" style="width: 40%;">
                            <div class="box-name">Apple Watch Series 3 GPS 38mm</div>
                            <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                                <span>4.900.000 ₫</span>
                               
                            </div>
                            <div class="danh-gia">
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <i class="fas fa-star fa-xs" style="color: rgb(255, 217, 0);"></i>
                                <span style="font-size: 12px;">10 đánh giá</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="thongtin">
        <div class="header-thongtin">
            <div class="nav__thongtin">
                <img src="">
                <div class="content_thongtin">
                    <p>Hệ thống bán thiết bị điện tử uy tín toàn quốc</p>
                <ul>
                    <li>Hotline 037.208.2758</li>
                    <li>Cơ sở Hà Nội: 295 Khâm Thiên - Đống Đa - Hà Nội</li>
                    <li>Cơ sở Phú Thọ:  Tp.Việt Trì - Phú Thọ</li>
                    <li>Cơ sở TP.Hồ Chí Minh: 100 Thạnh Mỹ Lợi - Quận 2 - TP.Hồ Chí Minh</li>
                </ul>
                </div>
            </div>
        </div>
        <div class="header-hotro">
            <div class="nav__hotro">
            <h3>HỖ TRỢ KHÁCH HÀNG</h3>
            <ul>
                <li><a href="#">Cách sạc pin điện thoại kéo dài tuổi thọ pin</a></li>
                <li><a href="#">Quy trình bảo hành điện thoại</a></li>
                <li><a href="#">Các phần mềm diện thoại hữu ích nên có</a></li>
            </ul>
         </div>
        </div>
        <div class="header-dichvu">
            <div class="nav__dichvu">
                <h3>DỊCH VỤ KHÁCH HÀNG</h3>
                <ul>
                    <li><a href="#">Giới thiệu về Shop điện thoại</a></li>
                    <li><a href="#">Hướng dẫn đặt hàng</a></li>
                    <li><a href="#">Chính sách đổi trả và bảo hành</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Liên hệ Shop</a></li>
                    <a href="index.html"><li>Hệ thống cửa hàng</li></a>
                </ul>
            </div>
        </div>
        <div class="header-thanhtoan">
            <div class="nav__thanhtoan">
                <h3>THANH TOÁN</h3>
                <ul>
         <img src="image/Visa_Inc._logo.svg.png" style="width: 20%;">
         <img src=" image/iconmastercard.png" style="width: 20%;">
         <img src=" image/iconatm.png" style="width: 20%;">
                </ul>
            </div>
        </div>
    </section>
</body>
</html>